In [0]:
import numpy as np
import pandas as pd

In [0]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [0]:
dates = pd.date_range('20130101', periods=6)

In [0]:
?dates

In [11]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

If Swift,
dates: DatetimeIndex

In [12]:
?pandas.core.indexes.datetimes.DatetimeIndex

Object `pandas.core.indexes.datetimes.DatetimeIndex` not found.

In [0]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [16]:
np.random.randn(6, 4)

array([[ 0.4485012 ,  0.16523674,  0.34297317,  0.81910756],
       [ 0.42003111,  1.15772487, -1.13230257,  0.0244729 ],
       [ 0.64418988, -0.01562323, -0.72490516,  1.78931388],
       [-1.37848346, -0.91339589, -0.99620904,  0.62151213],
       [ 0.68721405, -0.79270183,  1.82519531, -0.56618059],
       [-0.61045477,  0.50708714,  0.43483799,  0.11607309]])

In [19]:
pd.DataFrame(np.random.randn(6, 4))

          0         1         2         3
0  1.378905 -3.666295  0.471680  0.295816
1  0.556724 -0.526418 -0.021563  1.569599
2 -1.927539 -0.448817 -0.404757  1.890232
3  1.135958 -1.079036  0.780849 -1.034051
4 -0.247761  0.644096  0.073812  2.010138
5 -0.805549 -2.692250  1.986446  1.230612

In [15]:
df

                   A         B         C         D
2013-01-01  1.432444  0.250777  0.594709  1.582734
2013-01-02 -0.547449  0.338228  1.169934 -0.025597
2013-01-03 -0.006986  0.867418  0.344378 -0.131351
2013-01-04  1.081232  0.638191  1.220149 -0.717000
2013-01-05  0.485208 -0.191393 -0.159903  0.857679
2013-01-06  0.061175 -1.437737  0.034810  0.549751

Play around with df above to get a feel for pandas

Like play round with mnist/imagenette

In [0]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})